/* Main section */
html, main {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 47px;
    margin-top: -3px;
    text-align: center;
    position: relative;
    margin-bottom: -2px;
    z-index: 1;
}
.container {
    width: 100%;
    margin: 0;
}
.container-map {
    background-color: hsl(76, 89%, 52%);
    height: 100vh;
    max-width: 100%;
    position: relative;
    z-index: 0;
}
.map {
    height: 100%;
}
.nav-section {
    background-color: hsl(76, 89%, 52%);
    z-index: 2;
}
p {
    font-family: 'Roboto', sans-serif;
    align-self: center;
}
ul {
    font-family: 'Roboto', sans-serif;
    color: #636161;
}
li {
    /* Show a cursor when the mouse pointer is
     * is hovered on a list item.
     */
    cursor: pointer;
}

/* To add zooming effect on hover */
.list-group-item:hover {
    color: white;
    background: red;
    -webkit-box-shadow: 0px 0px 61px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 61px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 61px -3px rgba(0,0,0,0.75);
    transform: scale(1.060);
    transition: transform .2s ease-in-out;
}
.list-group-item:active {
    color: white;
    background: rgb(114, 10, 10);
    transform: scale(1.0);
    transition: transform .2s ease-in-out;
}

.temperature {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

/* Show Bootstrap modal vertically centered. */
.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}